@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: APL385 Unicode;
    font-size: 15px;
}

window#waybar {
    background-color: @bg;
    border-top: 2px solid @c3;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 2px 0px 0px 0px;
    background-color: transparent;
    color: @fg;
}

#workspaces button.focused {
    background-color: transparent;
    color: @c3;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#tray {
    margin: 0 6px 0 -1px;
    border-top: 2px solid @c3;
}
#window {
    background-color: @c2;
    margin: 0px 0px 0px 0px;
    border-top: 2px solid @c3;
}
#clock {
    background-color: @c2;
    border-top: 2px solid @c3;
}
#battery {
    background-color: @fg;
    color: #000000;
    border-top: 2px solid @c3;
}

#battery.charging {
    color: @fg;
    background-color: #26A65B;
    border-top: 2px solid @c3;
}

@keyframes blink {
    to {
        background-color: @fg;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-top: 2px solid @c3;
}

label:focus {
    background-color: #000000;
}

#cpu {
    padding: 0px;
    background-color: @c1;
    color: @fg;
    border-top: 2px solid @c3;
}

#memory {
    padding: 0px;
    background-color: @c1;
    color: @fg;
    border-top: 2px solid @c3;
}

#backlight {
    background-color: @c2;
    border-top: 2px solid @c3;
}

#network {
    padding: 0px;
    background-color: @c2;
    border-top: 2px solid @c3;
}

#network.disconnected {
    background-color: @c1;
    border-top: 2px solid @c3;
}

#temperature {
    padding: 0px;
    background-color: @c1;
    border-top: 2px solid @c3;
}

#temperature.critical {
    padding: 0px;
    background-color: @c1;
    color: #eb4d4b;
    border-top: 2px solid @c3;
}

#tray {
    padding: 0px;
    background-color: @c1;
    border-top: 2px solid @c3;
}

#idle_inhibitor {
    padding: 0px;
    background-color: @c1;
    border-top: 2px solid @c3;
}

